<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" class="navbar-brand"}}Rogues' Gallery<span id="alpha">alpha</span>{{/link-to}}
        </div>
        <ul class="nav navbar-nav navbar-right">
            {{#if session.isAuthenticated}}
                <li>{{#link-to 'sheets.new' class="btn"}}New Thief{{/link-to}}</li>
                <li class="navbar-text">Logged in as {{sessionUser.username}}.</li>
            {{/if}}
            <li>
                {{#if session.isAuthenticated}}
                    <a class="btn" {{ action 'invalidateSession' }}>Logout</a>
                {{else}}
                    <a class="btn" {{ action 'authenticateSession' }}>Login</a>
                {{/if}}
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
{{outlet}}
</div>
