<div class="row">
    <div class="col-md-4">
        <label>Name</label>
        {{input value=name}}
    </div>
    <div class="col-md-4">
        <label>Look</label>
        {{input value=look}}
    </div>
    <div class="col-md-4">
        <label>Total XP</label>
        {{input value=totalXp}}
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <h2>Suits</h2>
        <div class="row">
        {{#each suit in suits}}
        {{#with suit}}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            Ace:
                            {{number-checks model=ace min=0 max=2}}
                        </div>
                        {{#each faceCard in faceCards}}
                        <div>
                            {{faceCard.name}}:
                            {{number-checks model=faceCard min=4 max=10}}
                            {{input value=faceCard.power1}}
                            {{input value=faceCard.power2}}
                            {{input value=faceCard.power3}}
                        </div>
                        {{/each}}
                        <div>
                            Base Cards:
                            {{number-checks model=baseCards min=4 max=10}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
        {{/each}}
        </div>
    </div>

    <div class="col-lg-2">
        <h2>Skills</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Apt</th>
                    <th>Edu</th>
                    <th>Exp</th>
                    <th></th>
                    <th>Acc</th>
                </tr>
            </thead>
            <tbody>
                {{#each skillgroup in skillGroups}}
                {{#with skillgroup}}
                <tr>
                    <td colspan="6">
                        <h3>{{name}}</h3>
                    </td>
                </tr>
                    {{#each skill in skills}}
                    {{#with skill}}
                    <tr>
                        <td>{{name}}:</td>
                        <td>{{input type="checkbox" checked=apt}}</td>
                        <td>{{input type="checkbox" checked=edu}}</td>
                        <td>{{input type="checkbox" checked=exp}}</td>
                        <td>&ge;</td>
                        <td>{{input type="checkbox" checked=acc disabled=accDisabled}}</td>
                    </tr>
                    {{/with}}
                    {{/each}}
                {{/with}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
