<div class="modal-backdrop"></div>

<div class="row">
    <div class="col-xs-10">
        <div class="row">
            <div class="col-sm-4">
                <label for="name">Name:</label>
                {{input value=name id="name" class="form-control" disabled=cannotEditSheet}}
            </div>
            <div class="col-sm-4">
                <label for="availableXp">Available XP:</label>
                {{input value=available_xp type="number" class="form-control" disabled=cannotEditSheet}}
            </div>
            <div class="col-sm-4">
                <label for="total_xp">Total XP:</label>
                {{total_xp}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="look">Look:</label>
                {{textarea value=look id="look" class="form-control" disabled=cannotEditSheet}}
            </div>
        </div>
    </div>
    <div class="col-sx-2">
        {{#if showSaveButton}}
            <div class="btn-group" role="group">
                <a {{bind-attr class=":btn :btn-default isAnyDirty:btn-warning:disabled"}} {{action 'saveSheet'}}>Save</a>
                <a {{bind-attr class=":btn :btn-default :btn-danger"}} {{action 'deleteSheet'}}>Delete</a>
            </div>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <h2>Suits</h2>
        <div class="flexbox-container">
        {{#each suit in suits}}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div {{bind-attr class="suit.name :panel-heading"}}>
                        <h3>{{suit.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            Ace:
                            {{ace-checks model=suit.ace min=0 max=2 disabled=cannotEditSheet}}
                        </div>
                        {{#each faceCard in suit.faceCards}}
                        <div class="face-card">
                            {{faceCard.name}}:
                            {{number-checks model=faceCard min=4 max=10}}
                            <div {{bind-attr class="faceCard.cannotHaveAbility:hidden"}}>
                                {{input value=faceCard.ability disabled=faceCard.cannotHaveAbility class="form-control"}}
                            </div>
                            <div {{bind-attr class=":input-group faceCard.cannotHaveAbility:hidden"}}>
                                <div class="input-group-addon">
                                    {{input type="checkbox" checked=faceCard.hasAdvantage1 tabindex=-1}}
                                    <div class="overlay-checkbox"></div>
                                </div>
                                {{input value=faceCard.advantage1 disabled=faceCard.cannotHaveAbility class="form-control"}}
                            </div>
                            <div {{bind-attr class=":input-group faceCard.cannotHaveAbility:hidden"}}>
                                <div class="input-group-addon">
                                    {{input type="checkbox" checked=faceCard.hasAdvantage2 tabindex=-1}}
                                    <div class="overlay-checkbox"></div>
                                </div>
                                {{input value=faceCard.advantage2 disabled=faceCard.cannotHaveAbility class="form-control"}}
                            </div>
                            <div {{bind-attr class=":input-group faceCard.cannotHaveAbility:hidden"}}>
                                <div class="input-group-addon">
                                    {{input type="checkbox" checked=faceCard.hasAdvantage3 tabindex=-1}}
                                    <div class="overlay-checkbox"></div>
                                </div>
                                {{input value=faceCard.advantage3 disabled=faceCard.cannotHaveAbility class="form-control"}}
                            </div>
                        </div>
                        {{/each}}
                        <div>
                            Base Cards:
                            {{number-checks model=suit.baseCard min=4 max=10 disabled=cannotEditSheet}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

    <div class="col-lg-2">
        <h2>Skills</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Apt</th>
                    <th>Edu</th>
                    <th>Exp</th>
                    <th></th>
                    <th>Acc</th>
                </tr>
            </thead>
            <tbody>
                {{#each skillGroup in skillGroups}}
                    <tr>
                        <td colspan="6">
                            <h3>{{skillGroup.name}}</h3>
                        </td>
                    </tr>
                    {{#each skill in skillGroup.skills}}
                        <tr>
                            <td>{{skill.name}}:</td>
                            <td>{{input type="checkbox" checked=skill.apt disabled=cannotEditSheet}}</td>
                            <td>{{input type="checkbox" checked=skill.edu disabled=cannotEditSheet}}</td>
                            <td>{{input type="checkbox" checked=skill.exp disabled=cannotEditSheet}}</td>
                            <td>&ge;</td>
                            <td>{{input type="checkbox" checked=skill.acc disabled=skill.accDisabled}}</td>
                        </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
