<h1>
    Users!
</h1>

<ul>
{{#each user in model}}
    <li>
        {{#link-to 'user' user.username}}
            {{user.displayNameProperty}}
        {{/link-to}}
    </li>
{{/each}}
</ul>

{{#if pages}}
    <nav>
        <ul class="pagination">
            <li {{bind-attr class="model.meta.previous::disabled"}}>
                {{#if model.meta.previous}}
                    {{#link-to 'users' (query-params page=model.meta.previous)}}&laquo;{{/link-to}}
                {{else}}
                    <span>&laquo;</span>
                {{/if}}
            </li>

            {{#each page in pages}}
                <li {{bind-attr class="page.isCurrent:active"}}>
                    {{#link-to 'users' (query-params page=page.number)}}{{page.number}}{{/link-to}}
                </li>
            {{/each}}

            <li {{bind-attr class="model.meta.next::disabled"}}>
                {{#if model.meta.next}}
                {{#link-to 'users' (query-params page=model.meta.next)}}&raquo;{{/link-to}}
                {{else}}
                    <span>&raquo;</span>
                {{/if}}
            </li>
        </ul>
    </nav>
{{/if}}
