<h1>
    {{displayNameProperty}}
</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Thieves</h2>
        <ul>
        {{#each sheet in sheets}}
            <li>
                {{#link-to 'sheet' sheet.id}}{{#if sheet.name}}{{sheet.name}}{{else}}&lt;unnamed thief&gt;{{/if}}{{/link-to}}
                ({{sheet.total_xp}}xp)
            </li>
        {{/each}}
        </ul>

        {{#if pages}}
            <nav>
                <ul class="pagination">
                    <li {{bind-attr class="sheets.meta.previous::disabled"}}>
                        {{#if sheets.meta.previous}}
                            {{#link-to 'user' model.username (query-params page=sheets.meta.previous)}}&laquo;{{/link-to}}
                        {{else}}
                            <span>&laquo;</span>
                        {{/if}}
                    </li>
                    {{#each page in pages}}
                    <li {{bind-attr class="page.isCurrent:active"}}>
                        {{#link-to 'user' model.username (query-params page=page.number)}}{{page.number}}{{/link-to}}
                    </li>
                    {{/each}}
                    <li {{bind-attr class="sheets.meta.next::disabled"}}>
                        {{#if sheets.meta.next}}
                            {{#link-to 'user' model.username (query-params page=sheets.meta.next)}}&raquo;{{/link-to}}
                        {{else}}
                            <span>&raquo;</span>
                        {{/if}}
                    </li>
                </ul>
            </nav>
        {{/if}}
    </div>

    <div class="col-md-6">
        {{#if currentUser}}
            <h2>Profile controls</h2>

            <label for="displayName">Display name</label>
            {{input value=displayName class="form-control" id="displayName"}}

            <label for="email">Email address</label>
            {{input value=email class="form-control" id="email"}}

            <hr>
            <div class="btn-group" role="group">
                <button {{bind-attr class=":btn :btn-default isDirty:btn-warning:disabled"}} {{action 'update'}}>Save changes</button>
                <button class="btn btn-danger" {{action 'destroy'}}>Delete account</button>
            </div>
        {{/if}}
    </div>
</div>
